<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <mongo:mongo-client id="mongoClient" replica-set="${mongo.replicaSet}"
                        credentials="${mongo.username}:${mongo.password}@${mongo.dbname}">
        <mongo:client-options
                min-connections-per-host="${mongo.minConnectionsPerHost}"
                connect-timeout="${mongo.connectTimeout}"
                connections-per-host="${mongo.connectionsPerHost}"
                max-connection-idle-time="${mongo.maxConnectionIdleTime}"
                max-connection-life-time="${mongo.maxConnectionLifeTime}"
                socket-keep-alive="${mongo.socketKeepAlive}"
                socket-timeout="${mongo.sockTimeOut}"
                threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"/>
    </mongo:mongo-client>

    <mongo:db-factory id="mongoDbFactory" dbname="${mongo.dbname}" write-concern="SAFE" mongo-ref="mongoClient"/>

    <mongo:template id="mongoTemplate" db-factory-ref="mongoDbFactory"/>

</beans>